# Mac preview files
.DS_Store

# IntelliJ project files
*.ipr
*.iws
.idea
out/

# Target directories
target/
build/
.gradle/
classes/

# Build metadata
build-progess.meta
build.meta
*.log

# Binary
src/main/go/github.com/ONSdigital/dp-apipoc-server/dp-apipoc-server
src/main/resources/
src/test/resources/acceptance/validation/
