<div class="col-wrap col-span--lg-thirds">
    [: if not (or .APIs .NavigationGuides) :]
    <div class="col col--md-half col--lg-three-thirds">
    [: else :]
    <div class="col col--md-half col--lg-one-third background--mercury">
        [: template "fragments/sidenav" . :]
    </div>
    <div class="col col--md-half col--lg-two-thirds">
    [: end :]
        [: yield :]
    </div>
</div>
