<header>
    <div class="beta-banner">
        <div class="wrapper">
            <p><span class="font-size--16"><strong style="padding: 2px 7px 3px;text-transform: uppercase;color: #fff; background-color: #323132;">Warning</strong> this is a prototype and the content may not be complete or accurate</span></p>
        </div>
    </div>
  <div class="wrapper">
    <div class="header col-wrap">
      <div class="col col--lg-one-third col--md-one-third">
        <a href="/">
            <!--[if lte IE 8]>
                <img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.png" alt="Office for National Statistics">
            <![endif]-->
            <!--[if gte IE 9]><!-->
                <img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" alt="Office for National Statistics">
            <!--[endif]-->
        </a>
      </div>
          <div class="secondary-nav col col--lg-two-thirds col--md-two-thirds print--hide margin-top--3">
              <ul class="secondary-nav__list js-nav-clone__list">
                  <li class="secondary-nav__item">
                      <a class="secondary-nav__link js-nav-clone__link" target="_blank" rel="noopener noreferrer" href="https://www.ons.gov.uk/">ONS Website</a>
                  </li>
              </ul>
          </div>
    </div>
  </div>
  <div class="primary-nav print--hide">
    <nav>
        <ul class="nav--controls">
            <li class="nav--controls__item">
                <a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary" class="nav--controls__menu">
                    <span class="nav--controls__text">Menu</span>
                </a>
            </li>
            <li class="nav--controls__item ">
                <a href="#nav-search" id="search-toggle" aria-controls="nav-search" class="nav--controls__search">
                    <span class="nav--controls__text">Search</span>
                </a>
            </li>
        </ul>
        <div class="wrapper nav-main--hidden" id="nav-primary" aria-expanded="false">
            <ul class="primary-nav__list">
                <li class="primary-nav__item [: if .SpecificationList :]primary-nav__item--active[: end :] js-nav hide--sm old-ie--display-block"><a class="primary-nav__link col col--md-7 col--lg-14" href="/">Home</a></li>
                <li class="primary-nav__item [: if or .SpecificationSummary .Method :]primary-nav__item--active[: end :] js-nav"><a class="primary-nav__link col col--md-8 col--lg-15" href="/office-for-national-statistics-api/reference">API reference</a></li>
                <!--<li class="primary-nav__item js-nav"><a class="primary-nav__link col col&#45;&#45;md-8 col&#45;&#45;lg-10" href="#">Tutorials</a></li>-->
                <!--<li class="primary-nav__item js-nav"><a class="primary-nav__link col col&#45;&#45;md-8 col&#45;&#45;lg-10" href="#">Client libraries</a></li>-->
                <!--<li class="primary-nav__item js-nav"><a class="primary-nav__link col col&#45;&#45;md-8 col&#45;&#45;lg-10" href="#">Developer forum</a></li>-->
                <li class="primary-nav__item [: if not .SpecificationList :][: if .NavigationGuides :]primary-nav__item--active[: end :][: end :] js-nav"><a class="primary-nav__link col col--md-8 col--lg-15" href="/guides/embedding-charts">Embedding charts</a></li>
                <li class="primary-nav__item js-nav"><a class="primary-nav__link col col--md-8 col--lg-15" href="https://github.com/ONSdigital">GitHub</a></li>
            </ul>
        </div>
    </nav>
  </div>
</header>
