<div class="table-responsive">
  <table class="table table-striped table-enhanced" style="width:100%">
    <thead>
      <tr>
        <th>Operation</th>
        <th>HTTP Request</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    [: range .Methods :]
    <tr>
      <td style="width:10% !important">
        <a id="[: .ID :]" href="[:$.SpecPath:]/reference/[: $.API.ID :]/[: .ID :][: if $.Version :]?v=[: $.Version :][: end :]">[: .OperationName :]</a>
      </td>
      <td style="width:50% !important">
        <pre>[: uc .Method :]&nbsp;[: .Path :]</pre></td>
      </td>
      <td style="width:40% !important" class="hyphenate Hyphenator600hide">
        [: .Name :]
      </td>
    </tr>
    [: end :]
    </tbody>
  </table>
</div>
