<h2 class="sub-header">Resource</h2>
[: overlay "resource" . :]
<div class="standout-block standout-block-padded standout-block-scroll">
    <pre><code>[: .Resource.Schema :]</code></pre>
</div>

<h2 class="sub-header">Properties</h2>
[: overlay "properties" . :]
[: template "fragments/reference/resource_table" . :]
